.offers
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 100%;
    padding: 0 0 0 0;
    background-color: #ffe1a8a7;
}
.text3
{
 background-color: rgba(255, 255, 255, 0.632);
}
.container2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 295px;
    height: 100%;
    padding: 0 0 0 0;
    background-color: #ffe1a8a7;
    margin:5px;
    border-radius: 5px;
    border: 2px solid black;
}
.offercontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 100%;
    padding: 0 0 0 0;
}
.send {
    margin: 10px;
    color: #d9dad7;
    background-color: #000000;
    border: none;
    border-radius: 5px;

    font-size: large;
    font-family: monospace;
    
}

.send:hover{
    background-color: #d03b00;
    color: #d9dad7;
}
.send2 {
    margin: 2px;
    color: #d9dad7;
    background-color: #000000;
    border: none;
    border-radius: 5px;

    font-size: large;
    font-family: monospace;
    margin:5px;
    
}

.send2:hover:hover{
    background-color: #d03b00;
    color: #d9dad7;
}
.yours
{

    display: flex;

}
.text4
{
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    align-items: center;

}
.texts
{
    margin:5px;
    align-items: center;
}
