body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.registerpanel {
    background-color: #f08030;
    width: 400px;
    height: 220px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}

.registertext {
    color: #1a2639;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    margin: 10px;

}

.register {
    margin: 10px;
    color: #d9dad7;
    background-color: #000000;
    border: none;
    border-radius: 5px;

    font-size: large;
    font-family: monospace;
    
}

.register:hover{
    background-color: #b44316a6;
    color: #d9dad7;
}


.link:hover{
    color: rgb(110, 50, 0);
    text-decoration: none;
    font-size: 22px;
}

.link{
    color:#000000;
    margin-left: auto;
    margin-right: auto;
}

.text2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: rgba(255, 174, 102, 0.89);
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
}
.registerbox
{
    background-color: rgba(255, 255, 255, 0.67);
    width: 450px;
    height: 335px;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    font-weight: bold;
    border: 2px solid black;


    
}
